apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifiedpush-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: unifiedpush-operator
  template:
    metadata:
      labels:
        name: unifiedpush-operator
    spec:
      serviceAccountName: unifiedpush-operator
      containers:
        - name: unifiedpush-operator
          # Replace this with the built image name
          image: quay.io/aerogear/unifiedpush-operator:0.4.0
          command:
          - unifiedpush-operator
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 60m
              memory: 128Mi
            requests:
              cpu: 30m
              memory: 64Mi
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "unifiedpush-operator"
